#header {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

#header button {
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    background-color: whitesmoke
}

#header button:hover {
    background-color: aquamarine;
    transform: scale(1.05);
}

#breadCrumb {
    border: 1px solid black;
    margin: 10px;
    display: flex;

}

#breadCrumb a {
    background-color: #9b89b3;
    padding: 10px;
    color: #fefedf;
    cursor: pointer;
    border-right: 5px solid black;
}


#breadCrumb a:hover {
    background-color: #4b4453;
    text-decoration: underline;
}

#container {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #5585b5;
}


.folder {
    height: 120px;
    width: 160px;
    background-color: teal;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    color: white;
    position: relative;
    /* background-color: #708090; */
    border-radius: 0 6px 6px 6px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.59);
}

.folder:hover {
    transform: scale(1.05);
    transition: all 0.5s;

}

.folder:before {
    content: '';
    width: 50%;
    height: 12px;
    border-radius: 0 20px 0 0;
    background-color: teal;
    position: absolute;
    top: -12px;
    left: 0px;
}

.folder div[purpose=name] {
    margin-top: 45px;
}

.folder span {
    cursor: pointer;
    margin: 3px;
    text-decoration: underline;
}

.folder .actionContainer {
    display: flex;
    justify-content: start;
    font-size: large;
}

.folder span:hover {
    transform: scale(1.07);
    color: thistle
}

.text-file {
    height: 120px;
    width: 160px;
    background-color: rgb(0, 128, 28);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    color: white;
    position: relative;
    /* background-color: #708090; */
    border-radius: 0 6px 6px 6px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.59);
}

.text-file:hover {
    transform: scale(1.05);
    transition: all 0.5s;

}


.text-file div[purpose=name] {
    margin-top: 45px;
}

.text-file span {
    cursor: pointer;
    margin: 3px;
    text-decoration: underline;
}

.text-file .actionContainer {
    display: flex;
    justify-content: start;
    font-size: large;
}

.text-file span:hover {
    transform: scale(1.07);
    color: thistle;
}

#app {
    /* border: 5px solid black; */
    margin: 10px;
    height: 60rem;
}

#app-title-bar {
    height: 40px;
    background-color: #4b4453;
    display: flex;
    align-items: center;
    /* padding: 3px; */
}

#app-title {
    width: 94%;
    margin-left: 5px;

}

#app-menu-bar {
    height: 40px;
    background-color: #5585b5;
}

#app-body {
    background-color: cadetblue;
    height: 100%;
    border: 5px solid black;
}

#win-actions {
    margin-left: 5px;
    display: flex;
    align-items: center;
}

#win-actions span {
    margin: 10px;
    cursor: pointer;
}

#win-actions span:hover {
    transform: scale(1.07);
    color: rgb(0, 128, 28);
}
#win-actions :nth-child(3):hover{
    color: crimson;
}

#minimize {
    /* margin-bottom: 5px; */
    padding-bottom: 15px;
}

.notepad-body {
    height: 100%;
}

.notepad-body textarea {
    width: 100%;
    height: 100%;
}

.notepad-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.notepad-menu input[type=color]{
    width: 35px;
}

.notepad-menu :nth-child(n) {
    margin: 5px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    background-color: cornsilk;
}
.notepad-menu :nth-child(n):hover {
    border: 1px solid gray;
    transform: scale(1.07);
    color: cornsilk;
    background-color:teal;
}

.notepad-menu span[pressed=true]{
    transform: scale(1.1);
    color: cornsilk;
    background-color:teal;
}
.notepad-menu input[action=upload]{
    width: 11%;
    border-radius: 5px;
}
.notepad-menu input[action=upload]:hover{
    background-color: teal;
    color:antiquewhite;
}
#app-menu-bar[display=minimize], #app-body[display=minimize]{
    display: none;
}
#app[display=minimize]{
    width: 20%;
    margin-top: 30%;
}

.album-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.album-menu :nth-child(n) {
    margin: 5px 8px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    background-color: cornsilk;
    transform: scale(1.15);
}
.album-menu :nth-child(n):hover {
    border: 1px solid gray;
    transform: scale(1.3);
    color: cornsilk;
    background-color:teal;
}

.album-menu span[pressed=true]{
    transform: scale(1.1);
    color: cornsilk;
    background-color:teal;
}
.album-menu input[action=upload]{
    width: 11%;
    border-radius: 5px;
}
.album-menu input[action=upload]:hover{
    background-color: teal;
    color:antiquewhite;
}



.album{
    height: 120px;
    width: 160px;
    background-color:lightcoral;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    color: white;
    position: relative;
    /* background-color: #708090; */
    border-radius: 0 6px 6px 6px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.59);
}

.album:hover {
    transform: scale(1.05);
    transition: all 0.5s;

}


.album div[purpose=name] {
    margin-top: 45px;
}

.album span {
    cursor: pointer;
    margin: 3px;
}

.album .actionContainer {
    display: flex;
    justify-content: start;
    font-size: large;
}

.album .actionContainer span:hover {
    transform: scale(1.07);
    color: thistle;
}
.album-body {
    width: 100%;
    height: 100%;
}
.album-body div[purpose=picture-list]{
    height: 25%;
    background-color: #1a759f;
    display: flex;
    border: 5px solid rgb(127, 182, 255);
    border-radius: 5px;
}
div[purpose=picture-list] img{
    margin: 8px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    /* height: 100px; */
    /* width: 120px; */
}
div[purpose=picture-list] img:hover{
    transform: scale(1.05);
    border: 2px solid olive;
}
div[purpose=picture-view]{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 70%;
    margin: 22px;
}
div.move-left, div.move-right{
    width: 100px;
    height: 100px;
    /* background-color: tomato; */
    display: flex;
    justify-content: center;
}
.picture-main{
    display: flex;
    height: 100%;
    width: 80%;
}
.picture-main img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border: 1px solid saddlebrown;
    border-radius: 8px;
}
div.move-left span, div.move-right span{
   color:indianred;
   align-self: center;
   transform: scale(3);
   cursor: pointer;
}
div.move-left span:hover, div.move-right span:hover{
    transform: scale(4);
    color:bisque;
 }
